@import "../../style/mixins";

.login-page {
  background: url("/public/assets/mountain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  @include flex-center;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    width: 350px;
    height: 400px;
  }
}
